---
import Layout from "../layouts/Layout.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import MainHeading from "../components/MainHeading.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Arjun P.">
  <main>
    <nav>
      <ThemeToggle />
    </nav>
    <MainHeading name="Arjun P." title="Software Engineer" />
    <Contact
      sectionName="Links"
      gmail="ap2045202"
      readcv="arjunp"
      github="arjpar"
      linkedin="aparme"
    />
  </main>
</Layout>
